<h1>Pet Names</h1> 

<ul>
<li>
<% @pets.each do |dog| %><br>
<%= link_to dog.name, pet_path(dog) %><br>
<% end %>
</li>
</ul>

<ul>
<li>
<% @pets.each do |cat| %><br>
<%= link_to cat.name, pet_path(cat) %><br>
<% end %>
</li>
</ul>

