<h1>All Pets</h1> 

<% @pets_by_species.each do |species, pets| %>
<h3><%= species.pluralize %></h3>

<ul>
    <li>
    <% pets.each do |pet| %><br>
        <%= link_to pet.name, pet_path(pet) %>
        <img style="max-width: 350px; max-height: 200px" src="<%= pet&.image %>" /><br>
    <% end %>
    </li>
</ul>
<% end %>

