<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetMe</title>
</head>
<body>
    <h1>PetMe</h1>
    <h2>Adopt the Perfect Pet for You</h2>
    <img src="https://www.theladders.com/wp-content/uploads/dog-cat-190709-1000x563.jpg" alt>
    <h3><%= link_to "Find Your Next Best Friend", pets_path %></h3>

</body>
</html>